<div class="container" style="height: 100%;">
  <div id="giris-info">
    <div class="giris-card egitim shadow p-3 mb-5 rounded">
      <h1><i class="fa-solid fa-graduation-cap"></i></h1>
      <h2>Eğitim</h2>
      <p>Site tasarlamaya başlamadan önce işinize yarayabilecek bilgiler öğrenin</p>
    </div>
    <div class="giris-card tasarim shadow p-3 mb-5 rounded">
      <h1><i class="fa-solid fa-palette"></i></h1>
      <h2>Tasarım</h2>
      <p>Hayal ettiğiniz tasarımı oluşturmaya başlayın</p>
    </div>
  </div>
</div>