/*
 *= require font-awesome
 */

@font-face {
    font-family: 'Open Sans, sans-serif';
    src: url('OpenSans-Regular.ttf');
}

html, body {
    background-color: #f5f5f5;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans, sans-serif';
    height: 100%;
}

#giris-info {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.giris-card {;
    color: white;
    padding: 5px 15px;
    text-align: center;
    margin: 0 5px;
    flex: 1 1 0px;
}

.giris-card.egitim {
    background-color: dodgerblue;

}

.giris-card.tasarim {
    background-color: royalblue;

}

